{% load compress %}
{% load static %}
<!--reservation -->
<div class="flex flex-wrap -mx-3 mb-5">
    <div class="w-full max-w-full px-3 mb-6  mx-auto">
      <div class="relative flex-[1_auto] flex flex-col break-words min-w-0 bg-clip-border rounded-[.95rem] bg-white m-5">
        <div class="relative flex flex-col min-w-0 break-words border border-dashed bg-clip-border rounded-2xl border-stone-200 bg-light/30">
          <h1 class="text-xl text-bold mg-16 text-orange-400 bg-gray-100 w-fit px-4 py-2 rounded-lg">Messages</h1>
          <!-- card body  -->
          <div class="flex-auto block py-8 pt-6 px-9">
            <div class="overflow-x-auto">
              <table class="w-full my-0 align-middle text-dark border-neutral-200 rounded-lg">
                    <thead class="align-bottom rounded-lg">
                      <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                        <th class="px-4 py-3 text-start ">Nom et prenom</th>
                        <th class="px-4 py-3 text-start ">Email</th>
                        <th class="px-4 py-3 text-start ">sujet</th>
                        <th class="px-4 py-3 text-start ">message</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in Contact %}
                        <tr class="border-b border-dashed last:border-b-0">
                            <td class="px-4 py-3 border">{{item.full_name}}</td>
                            <td class="px-4 py-3 border">{{item.email_address}}</td>
                            <td class="px-4 py-3 border">{{item.subject}}</td>
                            <td class="px-4 py-3 border">{{item.message}}</td>
                        </tr>
                      {%empty%}
                      <p class="text-2xl"> Pas d'historique pour le moment</p>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 