{% load compress %}
{% load static %}
{% load tz %}
<!-- emprunt -->
<div class="flex flex-wrap -mx-3 mb-5">
    <div class="w-full max-w-full px-3 mb-6  mx-auto">
      <div class="relative flex-[1_auto] flex flex-col break-words min-w-0 bg-clip-border rounded-[.95rem] bg-white-100 m-5">
        <div class="relative flex flex-col min-w-0 break-words border border-dashed bg-clip-border rounded-2xl border-stone-200 bg-light/30">
          <h1 class="text-xl text-bold mg-16 text-orange-400 bg-neutral-100 w-fit px-4 py-2 rounded-lg">Emprunts </h1>
          <!-- card body  -->
          <div class="flex-auto block py-8 pt-6 px-9">
            <div class="overflow-x-auto">
              {% if Emprunts.count == 0 %}
              <p class="text-2xl text-red-600 flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-octagon-x">
                  <polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2" />
                  <path d="m15 9-6 6" />
                  <path d="m9 9 6 6" />
                </svg>
                Pas d'emprunts pour le moment
              </p>
              {% else %}
              <table class="w-full my-0 align-middle text-dark border-neutral-200">
                <thead class="align-bottom">
                  <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                    <th class="px-4 py-3 text-start">Nom et prenom</th>
                    <th class="px-4 py-3 text-start "> Livre </th>
                    <th class="px-4 py-3 text-start ">Exemplaire </th>
                    <th class="px-4 py-3 text-start ">Date d'Emprunts</th>
                    <th class="px-4 py-3 text-start ">Date prevu de retour</th>
                    <!-- <th class="  text-center ">Retourne?</th> -->
                    <th class="px-4 py-3 text-start ">Valider le retour</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in Emprunts  %}
                  <tr class="border-b border-dashed last:border-b-0">
                    <!-- etudiant -->
                    <td class="px-4 py-3 border">
                        <span class="font-semibold text-light-inverse text-md/normal">{{item.id_etudiant}}</span>
                    </td>
                    <!-- Livre -->
                    <td class="px-4 py-3 border">
                        <span class="font-semibold text-light-inverse text-md/normal">{{item.id_exemplaire.id_livre.titre}}</span>
                    </td>
                    <!--ID Exemplaire -->
                    <td class="px-4 py-3 border">
                        <span class="font-semibold text-light-inverse text-md/normal">{{item.id_exemplaire.id_exemplaire}}</span>
                    </td>
                    <!-- Date d'Emprunts -->
                    <td class="px-4 py-3 border">
                        <span class="font-semibold text-light-inverse text-md/normal">{{item.date_emprunt}}</span>
                    </td>
                    <!-- Date prevu de retour  -->
                    <td class="px-4 py-3 border">
                        {% if current_date > item.date_retour_prevue %}
                            <span class="font-semibold text-light-inverse text-md/normal text-red-500">{{ item.date_retour_prevue }}</span>
                        {% elif current_date == item.date_retour_prevue %}
                            <span class="font-semibold text-light-inverse text-md/normal text-orange-300">{{ item.date_retour_prevue }}</span>
                        {% else %}
                            <span class="font-semibold text-light-inverse text-md/normal text-green-500">{{ item.date_retour_prevue }}</span>
                        {% endif %}
                    </td>
                    <!-- Retourne?  -->
                    <!-- <td class="p-3 pr-0 text-center">
                        <span class="font-semibold text-light-inverse text-md/normal">{{item.retourner}}</span>
                    </td> -->
                    <!-- Valider retour -->
                    <form action="{% url 'retourner' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="emprunts" value="{{item.id_emprunt}}">
                        <td class="p-0 border bg-green-600 hover:bg-green-400 transition-all duration-200">
                            <button class="font-bold text-md/normal py-4 px-4 w-full text-left text-white" type="submit" value="Confirmer">Valider le retour</button>
                        </td>
                    </form>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {%endif%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>