{% load compress %}
{% load static %}

<!--reservation -->
<div class="flex flex-wrap -mx-3 mb-5">
    <div class="w-full max-w-full px-3 mb-6  mx-auto">
      <div class="relative flex-[1_auto] flex flex-col break-words min-w-0 bg-clip-border rounded-[.95rem] bg-white m-5">
        <div class="relative flex flex-col min-w-0 break-words border border-dashed bg-clip-border rounded-2xl border-stone-200 bg-light/30">
          <h1 class="text-xl text-bold mg-16 text-orange-400 bg-gray-100 w-fit px-4 py-2 rounded-lg">Livres</h1>
          <!-- FORM TO ADD NEW LIVRES form est provisoire -->
          <!-- component -->
          <div class="flex flex-col space-y-4 border-dashed border-2 border-gray-500 rounded-lg px-2 mx-9 mt-2">
            <form action="{% url 'addlivre' %}" method="post" enctype="multipart/form-data" >
              {% csrf_token %}
              <div class="flex items-center gap-4">
                <div class="p-2 w-2/3">
                  <label for="titre" class="text-gray-600 text-lg font-semibold">Titre</label>
                  <input type="text" name="titre" class="w-full rounded-md border border-gray-300 shadow-sm text-lg font-semibold p-1">
                </div>
                <div class="p-2 w-1/3">
                  <label for="auteur" class="text-gray-600 text-lg font-semibold">Auteur</label>
                  <input type="text" name="auteur" class="w-full rounded-md border border-gray-300 shadow-sm text-lg font-semibold p-1">
                </div>
              </div>
              
              <div class="flex items-center gap-4">
                <div class="p-2 w-1/3">
                  <label for="genre" class="text-gray-600 text-lg font-semibold">Genre</label>
                  <input type="text" name="genre" class="w-full rounded-md border border-gray-300 shadow-sm text-lg font-semibold p-1">
                </div>
                <div class="p-2 w-1/3">
                  <label for="langue" class="text-gray-600 text-lg font-semibold">Langue</label>
                  <input type="text" name="langue" class="w-full rounded-md border border-gray-300 shadow-sm text-lg font-semibold p-1">
                </div>
                <div class="p-2 w-1/3">
                  <label for="quantite" class="text-gray-600 text-lg font-semibold">Quantité</label>
                  <input type="number" name="quantite" class="w-full rounded-md border border-gray-300 shadow-sm text-lg font-semibold p-1">
                </div>
              </div>
              <div class="p-2">
                <label for="description" class="text-gray-600 text-lg font-semibold">Description</label>
                <textarea name="description" cols="30" rows="4"
                  class="w-full rounded-md border border-gray-300 shadow-sm text-lg font-semibold p-1"></textarea>
              </div>

              <!--IMAGE UPLOAD INPUT FLOWBITE-->
<div class="p-2">
  <label for="image" class="text-gray-700 text-lg font-semibold">Image Couverture</label>
  <div class="flex items-center justify-center w-full">
  
      <label for="dropzone-file" class="flex flex-col text-gray-500 items-center justify-center w-full h-24 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-100 hover:bg-gray-100  hover:border-dashed  dark:hover:text-white dark:hover:bg-blue-400 transition-all duration-300">
          <div class="flex items-center justify-center pt-5 pb-6 gap-2">
              <svg class="w-8 h-8 mb-4 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
              </svg>
              <p class="mb-4 text-lg italic"><span class="font-semibold text-lg not-italic ">Cliquer pour importer une image</span> ou glisser</p>
          </div>
          <input name="image" id="dropzone-file" type="file" class="hidden" onchange="previewImage(this)" />
      </label>
  </div>
  <!-- Preview image -->
  <img id="image-preview" class="hidden w-32 h-32 mt-2" alt="Preview Image">
</div>

<script>
  // Function to preview the selected image
  function previewImage(input) {
      var preview = document.getElementById('image-preview');
      var file = input.files[0];
      var reader = new FileReader();

      reader.onloadend = function () {
          preview.src = reader.result;
          preview.classList.remove('hidden');
      }

      if (file) {
          reader.readAsDataURL(file);
      } else {
          preview.src = '';
          preview.classList.add('hidden');
      }
  }
</script>

              <!--FORM SUBMIT-->
              <div class="p-2 ">
                <button
                type="submit"
                class="py-2 px-4 text-lg bg-green-600 rounded-lg font-semibold text-white hover:bg-green-500 transition-all duration-300 shadow hover:shadow-lg"
                >
                Submit
              </button>
            </div>
              
            </form>
          </div>
          
          <!-- card body  -->
          <div class="flex-auto block py-8 pt-6 px-9">
            <div class="overflow-x-auto">
              <table class="w-full my-0 align-middle text-dark border-neutral-200 rounded-lg">
                    <thead class="align-bottom rounded-lg">
                      <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                        <th class="px-4 py-3 text-start w-5/12">titre</th>
                        <th class="px-4 py-3 text-start w-2/12">genre</th>
                        <th class="px-4 py-3 text-start w-1/12">langue</th>
                        <th class="px-4 py-3 text-start w-1/12">quantite</th>
                        <th class="px-4 py-3 text-start w-1/12">Etat</th>
                        <th class="px-4 py-3 text-start w-1/12">Edit</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in Livres %}
                        <tr class="border-b border-dashed last:border-b-0">
                            <td class="px-4 py-2 border">
                              {% comment %}  this is the problem   {% if item.image|slice:'https' == 'https' %} doesn't work {% endcomment %}
                              <img src=" {% if item.image|slice:'https' == 'https' %}  {% else %} {% static item.image %} {% endif %} " class="w-[45px] h-[45px] inline-block shrink-0 rounded-sm object-cover" alt="">&nbsp;
                              <img src=" {% if item.image|slice:'https' == 'https' %} {% static item.image %} {% else %} {{ item.image }} {% endif %} " class="w-[45px] h-[45px] inline-block shrink-0 rounded-sm object-cover" alt="">&nbsp;
                              <span class="font-semibold">{{item.titre}}</span>
                            </td>
                            <td class="px-4 py-3 border font-semibold">{{item.genre}}</td>
                            <td class="px-4 py-3 border font-semibold">{{item.langue}}</td>
                            <td class="px-4 py-3 border font-semibold">{{item.quantite}}</td>
                            <td class="px-4 py-3 border font-semibold">
                                {% if not item.horspret %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#138808" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-book-check"><path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H20v20H6.5a2.5 2.5 0 0 1 0-5H20"/><path d="m9 9.5 2 2 4-4"/></svg>
                                {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ff1111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-book-x"><path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H20v20H6.5a2.5 2.5 0 0 1 0-5H20"/><path d="m14.5 7-5 5"/><path d="m9.5 7 5 5"/></svg>
                                {% endif %}
                            </td>
                            <td class="font-semibold text-md/normal p-0 text-left text-white border bg-yellow-500 hover:bg-yellow-400 transition-all duration-200">
                              <button id="myBtn"
                                class="book-emprunt flex items-center gap-2 py-4 px-4 h-full"
                                onclick="openModal('{{item.id_livre}}','{{item.quantite}}','{{item.horspret}}')">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pen-line"><path d="M12 20h9"/><path d="M16.5 3.5a2.12 2.12 0 0 1 3 3L7 19l-4 1 1-4Z"/></svg>
                                  Modifier
                              </button>
                            </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--Modal-->
            <div id="myModal" class="modal hidden fixed inset-0 z-20 overflow-auto bg-white/5 backdrop-blur-sm">
              <div class="modal-content bg-white mx-auto my-6 p-6 border border-gray-400 w-4/5 md:w-1/2 lg:w-1/3 rounded-lg">
                <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                  <div class="sm:flex sm:items-start">
                    <div
                      class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                      <svg class="h-6 w-6 text-yellow-300" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                      </svg>
                    </div>
                    <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                      <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Edit</h3>
                      <div class="mt-2">
                        <!--Form to  Edit-->
                        <div class="w-full max-w-md mx-auto">
                          <form action="{% url 'editlivre' %}" method="post" class="bg-white rounded px-8 pt-6 pb-8 mb-4">
                            {% csrf_token %}
                            <input type="hidden" id="ID" name="idlivre" value="">
                            <div class="mb-4">
                              <label class="block text-gray-700 text-sm font-bold mb-2" for="quantite">
                                Quantité
                              </label>
                              <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                name="quantite"  id="Equantite" type="number" placeholder="Entrez la quantité">
                            </div>
                            <div class="mb-6">
                              <label class="block text-gray-700 text-sm font-bold mb-2" for="horspret">
                                Hors-Prêt
                              </label>
                              <input class="mr-2 leading-tight" type="checkbox" name="horspret" id="Ehorspret" value="True">
                              
                            </div>
                            <div class="flex items-center justify-between">
                              <input
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                type="submit" value="Enregistrer">
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button"
                  class=" close mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
              </div>
              </div>
        </div>
    </div>
</div>
<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");


    var span = document.getElementsByClassName("close")[0];


    function openModal(id,quantite,horspret) {
      modal.classList.remove("hidden");

      document.getElementById("ID").value = parseInt(id);
      document.getElementById("Equantite").value = parseInt(quantite)
      document.getElementById("Equantite").min= parseInt(quantite)
      if(horspret=="True")
      {
        document.getElementById("Ehorspret").checked = true
      }
      else
      {
        document.getElementById("Ehorspret").checked = false
      }
    };

    // Function to close the modal (add 'hidden', remove 'block')
    span.onclick = function () {
      modal.classList.remove("block");
      modal.classList.add("hidden");
    };

    // Function to close modal if clicking outside of it
    window.onclick = function (event) {
      if (event.target === modal) {
        modal.classList.remove("block");
        modal.classList.add("hidden");
      }
    };
</script>