{% load compress %}
{% load static %}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="{% static 'source/library-w.svg' %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: '#ff22ff'
            }
          }
        }
      }
    </script>
        <style>
          .bg-cover {
            background-image: url("{% static 'source/bg-lib.svg' %}") !important;
            background-position: center !important;
            backdrop-filter: blur(5px) !important;
          }
          @property --num {
            syntax: '<integer>';
            initial-value: 0;
            inherits: false;
          }
        </style>
    <title>FSUMI-LIB</title>
</head>
<body>

<!-- main -->
  <main id="content">
      <noscript>You need to enable JavaScript to run this app.</noscript>
      <div id="root">
        <!--mobile + Sidebar-->
        <nav class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6">
          <div class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto">
            <button class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent" 
              type="button" 
              onclick="toggleNavbar('example-collapse-sidebar')">
              <i class="fas fa-bars"></i>
            </button>
            <a class="flex h-full items-center text-bold text-lg gap-2 hover:scale-105 transition-all duration-300" href="javascript:void(0)">
              <img class="w-auto h-6 lg:h-8" src="{% static 'source/library.svg' %}" alt="" />
              FSUMI-LIB
            </a>
            <ul class="md:hidden items-center flex flex-wrap list-none">
              <li class="inline-block relative">
                <a class="text-black-500 block py-1 px-3" href="#pablo" onclick="openDropdown(event,'notification-dropdown')">
                  <i class="fas fa-bell"></i>
                </a>
                <div class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1" style="min-width: 12rem;" id="notification-dropdown">
                  <a href="#pablo" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-black-500">Action</a>
                  <a href="#pablo" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-black-500">Another action</a>
                  <a href="#pablo" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-black-500">Something else here</a>
                  <div class="h-0 my-2 border border-solid border-blueGray-100"></div>
                  <a href="#pablo" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-black-500">Seprated link</a>
                </div>
              </li>
              <li class="inline-block relative">
                <a class="text-black-500 block" href="#pablo" onclick="openDropdown(event,'user-responsive-dropdown')">
                  <div class="items-center flex">
                    <span class="w-12 h-12 text-sm text-white bg-blueGray-200 inline-flex items-center justify-center rounded-full">
                      <img alt="..." class="w-full rounded-full align-middle border-none shadow-lg" src="{% static '/source/profile/fsm.jpg' %}" /></span>
                  </div>
                </a>
                <div class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1" style="min-width: 12rem;" id="user-responsive-dropdown">
                  <a href="#pablo" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-black-500">Action</a><a href="#pablo" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-black-500">Another action</a><a href="#pablo" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-black-500">Something else here</a>
                  <div class="h-0 my-2 border border-solid border-blueGray-100"></div>
                  <a href="#pablo" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-black-500">Seprated link</a>
                </div>
              </li>
            </ul>
            <div class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded hidden" id="example-collapse-sidebar">
              <div class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200">
                <div class="flex flex-wrap">
                  <div class="w-6/12">
                    <a class="md:block text-left md:pb-2 text-orange-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0" href="{}">FSUMI-LIB</a>
                  </div>
                  <div class="w-6/12 flex justify-end">
                    <button type="button" class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent" onclick="toggleNavbar('example-collapse-sidebar')" >
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                
                </div>
              </div>
    <!--side bar -->
     <form class="mt-6 mb-4 md:hidden">
                <div class="mb-3 pt-0">
                  <input type="text" placeholder="Search" class="border-0 px-3 py-2 h-12 border border-solid border-blueGray-500 placeholder-blueGray-300 text-orange-600 bg-white rounded text-base leading-snug shadow-none outline-none focus:outline-none w-full font-normal" />
                </div>
              </form>
              <hr>
              <ul class="md:flex-col md:min-w-full flex flex-col list-none lg:mt-2">
                <li class="items-center">
                  <a class="{% if request.path == '/dashboard-reservations' %}  text-orange-500{%else %}text-blue-700 {% endif %} hover:text-orange-600 text-md uppercase py-3 font-semibold block transition-all duration-200" 
                  href="/dashboard-reservations">
                    <i class="fas fa-tv opacity-75 mr-2 text-sm"></i>
                    Reservations
                  </a>
                </li>
                <li class="items-center">
                  <a class="{% if request.path == '/dashboard-emprunts' %}  text-orange-500{%else %}text-blue-700 {% endif %} hover:text-orange-600 text-md uppercase py-3 font-semibold block transition-all duration-200" 
                  href="/dashboard-emprunts">
                    <i class="fas fa-newspaper text-black-400 mr-2 text-sm"></i>
                    Emprunts
                  </a>
                </li>
                <li class="items-center">
                  <a class="{% if request.path == '/dashboard-historique' %}  text-orange-500{%else %}text-blue-700 {% endif %} hover:text-orange-600 text-md uppercase py-3 font-semibold block transition-all duration-200" 
                  href="/dashboard-historique">
                    <i class="fas fa-user-circle text-black-400 mr-2 text-sm"></i>
                    Historique
                  </a>
                </li>
                <li class="items-center">
                  <a class="{% if request.path == '/dashboard-etudiants' %}  text-orange-500{%else %}text-blue-700 {% endif %} hover:text-orange-600 text-md uppercase py-3 font-semibold block transition-all duration-200" 
                  href="/dashboard-etudiants">
                    <i class="fas fa-fingerprint text-black-400 mr-2 text-sm"></i>
                    Etudiants
                  </a>
                </li>
                <li class="items-center">
                  <a class="{% if request.path == '/dashboard-livres' %}  text-orange-500{%else %}text-blue-700 {% endif %} hover:text-orange-600 text-md uppercase py-3 font-semibold block transition-all duration-200" 
                  href="/dashboard-livres">
                    <i class="fas fa-clipboard-list text-black-400 mr-2 text-sm"></i>
                    Livres
                  </a>
                </li>
                <li class="items-center">
                  <a class="{% if request.path == '/dashboard-exemplaires' %}  text-orange-500{%else %}text-blue-700 {% endif %} hover:text-orange-600 text-md uppercase py-3 font-semibold block transition-all duration-200" 
                  href="/dashboard-exemplaires">
                    <i class="fas fa-tools text-black-400 mr-2 text-sm"></i>
                    Exemplaires
                  </a>
                </li>
              </ul>
              <hr class="my-4 md:min-w-full" />
              <h6 class="md:min-w-full text-black-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline">Documentation</h6>
              <ul class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4">
                <li class="inline-flex">
                  <a class="text-black-500 hover:text-blue-600 text-sm block mb-4 no-underline font-semibold" href="{% url 'index' %}">
                    <i class="fas fa-paint-brush mr-2 text-black-400 text-base"></i>
                    Accueil
                  </a>
                </li>
                <li class="inline-flex">
                  <a class="text-black-500 hover:text-blue-600 text-sm block mb-4 no-underline font-semibold" href="{% url 'livre' %}">
                    <i class="fab fa-css3-alt mr-2 text-black-400 text-base"></i>
                    Explorer
                  </a>
                </li>
                <li class="inline-flex">
                  <a class="text-black-500 hover:text-blue-600 text-sm block mb-4 no-underline font-semibold" href="{% url 'contact' %}">
                    <i class="fab fa-vuejs mr-2 text-black-400 text-base"></i>
                    Contact
                  </a>
                </li>
                <li class="inline-flex">
                  <a class="text-black-500 hover:text-blue-600 text-sm block mb-4 no-underline font-semibold" href="{% url 'profile' %}">
                    <i class="fab fa-react mr-2 text-black-400 text-base"></i>
                    profile
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <div class="relative md:ml-64 bg-blueGray-50">
          <nav class="absolute top-0 left-0 w-full z-10 bg-transparent md:flex-row md:flex-nowrap md:justify-start flex items-center p-4">
            <div class="w-full mx-autp items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4">
              <a class="items-center gap-2 text-white text-md uppercase border-white hover:bg-orange-500 border-[1.5px] shadow-lg rounded-lg hidden lg:flex font-semibold p-4 backdrop-blur-sm hover:scale-105 transition-all duration-400" href="/dashboard">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layout-dashboard">
                  <rect width="7" height="9" x="3" y="3" rx="1"/>
                  <rect width="7" height="5" x="14" y="3" rx="1"/>
                  <rect width="7" height="9" x="14" y="12" rx="1"/>
                  <rect width="7" height="5" x="3" y="16" rx="1"/>
                </svg>
                Dashboard
              </a>
              <ul class="flex-col md:flex-row list-none items-center hidden md:flex">
                <a class="text-black-500 block" href="#pablo" onclick="openDropdown(event,'user-dropdown')">
                  <div class="items-center flex">
                    <span class="w-12 h-12 text-sm text-white bg-blueGray-200 inline-flex items-center justify-center rounded-full">
                      <img alt="..." class="w-full rounded-full align-middle border-none shadow-lg" src="{% static "/source/profile/fsm.jpg" %}" /></span>
                  </div>
                </a>
                <!--user-dropdown-->
                <div class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1" style="min-width: 12rem;" id="user-dropdown">
                  <a href="{% url 'index' %}" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-black-500">home</a>
                  
                  <div class="h-0 my-2 border border-solid border-blueGray-100"></div>
                  <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button
                      class="flex items-center gap-1 bg-red-500 uppercase text-white font-bold hover:shadow-lg shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1"
                      type="submit" style="transition: all 0.15s ease 0s;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/></svg>
                      Disconnect
                    </button>
                  </form> 
                </div>
              </ul>
            </div>
          </nav>

          <!-- Header -->
          <div class="relative bg-cover md:pt-32 pb-4 pt-12">
            <div class="px-4 md:px-10 mx-auto w-full">
                 <!-- Card stats -->
                <div class="flex flex-wrap">
                  <!-- user counter -->
                  <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
                    <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
                      <div class="flex-auto p-4">
                        <div class="flex flex-wrap">
                          <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                            <h5 class="text-black-400 uppercase font-bold text-sm">nombre d'etudiants</h5>
                            <span class="tabular-nums text-black-500 text-2xl font-semibold mb-2 transition-[_--num] duration-[3s] ease-out [counter-set:_num_var(--num)] supports-[counter-set]:before:content-[counter(num)]" x-data="{ shown: false }" x-intersect="shown = true" :class="shown && '[--num:{{ Etudiants.count}}]'">
                                <span class="supports-[counter-set]:sr-only">{{ Etudiants.count}} </span>
                                
                            </span>
                          </div>
                          <div class="relative w-auto pl-4 flex-initial">
                            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-blue-500">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- livre counter-->
                  <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
                    <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
                      <div class="flex-auto p-4">
                        <div class="flex flex-wrap">
                          <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                            <h5 class="text-black-400 uppercase font-bold text-sm">Total des livres</h5>
                            <span class="tabular-nums text-black-500 text-2xl font-semibold mb-2 transition-[_--num] duration-[3s] ease-out [counter-set:_num_var(--num)] supports-[counter-set]:before:content-[counter(num)]" x-data="{ shown: false }" x-intersect="shown = true" :class="shown && '[--num:{{ Livres.count}}]'">
                              <span class="supports-[counter-set]:sr-only">{{ Livres.count }}</span>
                            </span>
                          </div>
                          <div class="relative w-auto pl-4 flex-initial">
                            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-blue-500">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-library"><path d="m16 6 4 14"/><path d="M12 6v14"/><path d="M8 8v12"/><path d="M4 4v16"/></svg>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- reservation counter-->
                  <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
                    <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
                      <div class="flex-auto p-4">
                        <div class="flex flex-wrap">
                          <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                            <h5 class="text-black-400 uppercase font-bold text-sm">Reservations</h5>
                            <span class="tabular-nums text-black-500 text-2xl font-semibold mb-2 transition-[_--num] duration-[3s] ease-out [counter-set:_num_var(--num)] supports-[counter-set]:before:content-[counter(num)]" x-data="{ shown: false }" x-intersect="shown = true" :class="shown && '[--num:{{Reservations.count}}]'">
                              <span class="supports-[counter-set]:sr-only">{{ Reservations.count }}</span>
                            </span>
                          </div>
                          <div class="relative w-auto pl-4 flex-initial">
                            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-blue-500">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-book-marked"><path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H20v20H6.5a2.5 2.5 0 0 1 0-5H20"/><polyline points="10 2 10 10 13 7 16 10 16 2"/></svg>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--livre emprunter-->
                  <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
                    <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
                      <div class="flex-auto p-4">
                        <div class="flex flex-wrap">
                          <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                            <h5 class="text-black-400 uppercase font-bold text-sm">Livres empruntes </h5>
                            <span class="tabular-nums text-black-500 text-2xl font-semibold mb-2 transition-[_--num] duration-[3s] ease-out [counter-set:_num_var(--num)] supports-[counter-set]:before:content-[counter(num)]" x-data="{ shown: false }" x-intersect="shown = true" :class="shown && '[--num:{{Emprunts.count}}]'">
                              <span class="supports-[counter-set]:sr-only">{{Emprunts.count}}</span>
                            </span>
                          </div>
                          <div class="relative w-auto pl-4 flex-initial">
                            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-blue-500">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-book-user"><path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H20v20H6.5a2.5 2.5 0 0 1 0-5H20"/><circle cx="12" cy="8" r="2"/><path d="M15 13a3 3 0 1 0-6 0"/></svg>  
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end -->
                </div>
            </div>
          </div>
            <!-- {% include 'dashboard/card.html' %} -->
            
          {% if request.path == '/dashboard-reservations' %}
            {% include 'dashboard/reservations.html' %}
          {% endif  %}
          {% if request.path == '/dashboard-emprunts' %}
            {% include 'dashboard/emprunts.html' %}
          {% endif  %}
          {% if request.path == '/dashboard-livres' %}
            {% include 'dashboard/livres.html' %}
          {% endif  %}
          {% if request.path == '/dashboard-etudiants' %}
            {% include 'dashboard/etudiants.html' %}
          {% endif  %}
          {% if request.path == '/dashboard-exemplaires' %}
            {% include 'dashboard/exemplaires.html' %}
          {% endif  %}
          {% if request.path == '/dashboard-historique' %}
            {% include 'dashboard/historique.html' %}
          {% endif  %}
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" charset="utf-8"></script>
      <script src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js" charset="utf-8"></script>
      <script type="text/javascript">
        /* Sidebar - Side navigation menu on mobile/responsive mode */
        function toggleNavbar(collapseID) {
          document.getElementById(collapseID).classList.toggle('hidden')
          document.getElementById(collapseID).classList.toggle('bg-white')
          document.getElementById(collapseID).classList.toggle('m-2')
          document.getElementById(collapseID).classList.toggle('py-3')
          document.getElementById(collapseID).classList.toggle('px-6')
        }
        /* Function for dropdowns */
        function openDropdown(event, dropdownID) {
          let element = event.target
          while (element.nodeName !== 'A') {
            element = element.parentNode
          }
          var popper = Popper.createPopper(element, document.getElementById(dropdownID), {
            placement: 'bottom-end'
          })
          document.getElementById(dropdownID).classList.toggle('hidden')
          document.getElementById(dropdownID).classList.toggle('block')
        }
        
        ;(function () {
          /* Add current date to the footer */
          document.getElementById('javascript-date').innerHTML = new Date().getFullYear()
          /* Chart initialisations */
          /* Line Chart */
          var config = {
            type: 'line',
            data: {
              labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
              datasets: [
                {
                  label: new Date().getFullYear(),
                  backgroundColor: '#4c51bf',
                  borderColor: '#4c51bf',
                  data: [65, 78, 66, 44, 56, 67, 75],
                  fill: false
                },
                {
                  label: new Date().getFullYear() - 1,
                  fill: false,
                  backgroundColor: '#ed64a6',
                  borderColor: '#ed64a6',
                  data: [40, 68, 86, 74, 56, 60, 87]
                }
              ]
            },
            options: {
              maintainAspectRatio: false,
              responsive: true,
              title: {
                display: false,
                text: 'Sales Charts',
                fontColor: 'white'
              },
              legend: {
                labels: {
                  fontColor: 'white'
                },
                align: 'end',
                position: 'bottom'
              },
              tooltips: {
                mode: 'index',
                intersect: false
              },
              hover: {
                mode: 'nearest',
                intersect: true
              },
              scales: {
                xAxes: [
                  {
                    ticks: {
                      fontColor: 'rgba(255,255,255,.7)'
                    },
                    display: true,
                    scaleLabel: {
                      display: false,
                      labelString: 'Month',
                      fontColor: 'white'
                    },
                    gridLines: {
                      display: false,
                      borderDash: [2],
                      borderDashOffset: [2],
                      color: 'rgba(33, 37, 41, 0.3)',
                      zeroLineColor: 'rgba(0, 0, 0, 0)',
                      zeroLineBorderDash: [2],
                      zeroLineBorderDashOffset: [2]
                    }
                  }
                ],
                yAxes: [
                  {
                    ticks: {
                      fontColor: 'rgba(255,255,255,.7)'
                    },
                    display: true,
                    scaleLabel: {
                      display: false,
                      labelString: 'Value',
                      fontColor: 'white'
                    },
                    gridLines: {
                      borderDash: [3],
                      borderDashOffset: [3],
                      drawBorder: false,
                      color: 'rgba(255, 255, 255, 0.15)',
                      zeroLineColor: 'rgba(33, 37, 41, 0)',
                      zeroLineBorderDash: [2],
                      zeroLineBorderDashOffset: [2]
                    }
                  }
                ]
              }
            }
          }
          var ctx = document.getElementById('line-chart').getContext('2d')
          window.myLine = new Chart(ctx, config)
        
          /* Bar Chart */
          config = {
            type: 'bar',
            data: {
              labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
              datasets: [
                {
                  label: new Date().getFullYear(),
                  backgroundColor: '#ed64a6',
                  borderColor: '#ed64a6',
                  data: [30, 78, 56, 34, 100, 45, 13],
                  fill: false,
                  barThickness: 8
                },
                {
                  label: new Date().getFullYear() - 1,
                  fill: false,
                  backgroundColor: '#4c51bf',
                  borderColor: '#4c51bf',
                  data: [27, 68, 86, 74, 10, 4, 87],
                  barThickness: 8
                }
              ]
            },
            options: {
              maintainAspectRatio: false,
              responsive: true,
              title: {
                display: false,
                text: 'Orders Chart'
              },
              tooltips: {
                mode: 'index',
                intersect: false
              },
              hover: {
                mode: 'nearest',
                intersect: true
              },
              legend: {
                labels: {
                  fontColor: 'rgba(0,0,0,.4)'
                },
                align: 'end',
                position: 'bottom'
              },
              scales: {
                xAxes: [
                  {
                    display: false,
                    scaleLabel: {
                      display: true,
                      labelString: 'Month'
                    },
                    gridLines: {
                      borderDash: [2],
                      borderDashOffset: [2],
                      color: 'rgba(33, 37, 41, 0.3)',
                      zeroLineColor: 'rgba(33, 37, 41, 0.3)',
                      zeroLineBorderDash: [2],
                      zeroLineBorderDashOffset: [2]
                    }
                  }
                ],
                yAxes: [
                  {
                    display: true,
                    scaleLabel: {
                      display: false,
                      labelString: 'Value'
                    },
                    gridLines: {
                      borderDash: [2],
                      drawBorder: false,
                      borderDashOffset: [2],
                      color: 'rgba(33, 37, 41, 0.2)',
                      zeroLineColor: 'rgba(33, 37, 41, 0.15)',
                      zeroLineBorderDash: [2],
                      zeroLineBorderDashOffset: [2]
                    }
                  }
                ]
              }
            }
          }
          ctx = document.getElementById('bar-chart').getContext('2d')
          window.myBar = new Chart(ctx, config)
        })()
      </script>
      <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </main>
  </body>
  <!-- scripts -->
  
</html>
