{% load compress %}
{% load static %}

<html>

<head>
  
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <link rel="shortcut icon" href="./assets/img/favicon.ico" />
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css" />

  <style>
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>

  <title>FS-LIB</title>
</head>


<body class="text-gray-800 antialiased">
 

<main>
    <!-- video and title -->
    <div class="relative pt-15 pb-50 flex content-center items-center justify-center" style="min-height: 80vh;">

      <!-- video -->

      <div class="absolute top-0 w-full h-full bg-center bg-cover">
        <video autoplay muted loop id="video-background" class="w-full h-full object-cover">
          <source src="{% static '/source/vid2.mp4' %}" type="video/mp4">
        </video>
      </div>

      <!-- video -->

      <div class="container relative mx-auto ">
        <div class="items-center flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center ">
            <div class="pr-12 ">
              <h1 class="text-white font-semibold text-5xl">
                Gestion de Bibliothèque
              </h1>
              <p class="mt-4 text-2xl text-white">
                Bienvenue sur notre plateforme de gestion de bibliothèque simplifiée,conçue pour répondre aux besoins
                des bibliothèques universitaires et scolaires.
                Notre solution informatique offre une approche moderne pour cataloguer les livres, gérer les prêts, et
                améliorer l'expérience des utilisateurs.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
        style="height: 70px;">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
          version="1.1" viewBox="0 0 2560 100" x="0" y="0">
          <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- video and title -->

    <section class="relative py-20">
      <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
        style="height: 80px;">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
          version="1.1" viewBox="0 0 2560 100" x="0" y="0">
          <polygon class="text-white fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
      <div class="container mx-auto px-4">
        <div class="items-center flex flex-wrap">
          <div class="w-full md:w-6/12 ml-auto mr-auto px-4">
            <img alt="..." class="max-w-full rounded-lg shadow-lg"
              src="{% static "/source/bd.png"%}" />
          </div>
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <div class="md:pr-12">
              <div
                class="text-pink-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-pink-300">
                <i class="fas fa-rocket text-xl"></i>
              </div>
              <h3 class="text-3xl font-semibold">A growing company</h3>
              <p class="mt-4 text-lg leading-relaxed text-gray-600">
                The extension comes with three pre-built pages to help you get
                started faster. You can change the text and images and you're
                good to go.
              </p>
              <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"><i
                          class="fas fa-fingerprint"></i></span>
                    </div>
                    <div>
                      <h4 class="text-gray-600">
                        Carefully crafted components
                      </h4>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"><i
                          class="fab fa-html5"></i></span>
                    </div>
                    <div>
                      <h4 class="text-gray-600">Amazing page examples</h4>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"><i
                          class="far fa-paper-plane"></i></span>
                    </div>
                    <div>
                      <h4 class="text-gray-600">Dynamic components</h4>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>




    <!-- team  section -->
    <section class="pt-20 pb-20">
      <div class="container mx-auto px-5">
        <div class="flex flex-wrap justify-center text-center mb-24">
          <div class="w-full lg:w-6/12 px-4">
            <h2 class="text-4xl font-semibold">Notre équipe</h2>
            <p class="text-lg leading-relaxed m-4 text-gray-600">
              Nous avons développé une application de gestion de bibliothèque simple et efficace.
              Elle permet aux bibliothécaires de cataloguer les livres, de gérer les membres et les prêts, et offre aux
              utilisateurs une recherche rapide et des fonctionnalités de suivi des emprunts.
              Notre solution vise à simplifier les opérations quotidiennes des bibliothèques et à améliorer l'expérience
              des utilisateurs.
            </p>
          </div>
        </div>
        <div class="flex flex-wrap  justify-center">
          <!-- othmane ferrah-->
          <div class="w-full md:w-6/12 lg:w-2/12 lg:mb-0 mb-30 px-20">
            <div class="px-6">
              <img alt="..." src="https://avatars.githubusercontent.com/u/101396622?v=4"
                class="shadow-lg rounded-full max-w-full mx-auto" style="max-width: 120px;" />
              <div class="pt-6 text-center">
                <h5 class="text-xl font-bold">OTHMANE FERRAH</h5>
                <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                  forntend and backend
                </p>
                <div class="mt-4 flex justify-center">
                  <button class="bg-black text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                    type="button">
                    <a href="https://github.com/0x0redd" target="_blank" rel="noopener noreferrer"
                      class="fab fa-github"></a>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- khalil el amraoui-->
          <div class="w-full md:w-6/12 lg:w-2/12 lg:mb-0 mb-30 px-20">
            <div class="px-6">
              <img alt="..." src="https://avatars.githubusercontent.com/u/95870831?v=4"
                class="shadow-lg rounded-full max-w-full mx-auto" style="max-width: 120px;" />
              <div class="pt-6 text-center">
                <h5 class="text-xl font-bold">El Amraoui Khalil</h5>
                <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                  backend and frontend
                </p>
                <div class="mt-4 flex justify-center">
                  <button class="bg-black text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                    type="button">
                    <a href="https://github.com/khalilelamraoui" target="_blank" rel="noopener noreferrer"
                      class="fab fa-github"></a>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- el habib chama-->
          <div class="w-full md:w-6/12 lg:w-2/12 lg:mb-0 mb-30 px-20">
            <div class="px-6">
              <img alt="..." src="https://avatars.githubusercontent.com/u/69660981?v=4"
                class="shadow-lg rounded-full max-w-full mx-auto" style="max-width: 120px;" />
              <div class="pt-6 text-center">
                <h5 class="text-xl font-bold">EL HABIB CHAMA</h5>
                <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                  backend
                </p>
                <div class="mt-4 flex justify-center">
                  <button class="bg-black text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                    type="button">
                    <a href="https://github.com/elhabib-bit" target="_blank" rel="noopener noreferrer"
                      class="fab fa-github"></a>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- BOUYMEJJANE BADR-->
          <div class="w-full md:w-6/12 lg:w-2/12 lg:mb-0 mb-30 px-20">
            <div class="px-6">
              <img alt="..." src="https://avatars.githubusercontent.com/u/62801522?v=4"
                class="shadow-lg rounded-full max-w-full mx-auto" style="max-width: 120px;" />
              <div class="pt-6 text-center">
                <h5 class="text-xl font-bold">BADR BOUYMEJJANE </h5>
                <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                  backend
                </p>
                <div class="mt-4 flex justify-center">
                  <button class="bg-black text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                    type="button">
                    <a href="https://github.com/Badr-Bouymejjane" target="_blank" rel="noopener noreferrer"
                      class="fab fa-github"></a>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- TOURARI ANAS-->
          <div class="w-full md:w-6/12 lg:w-2/12 lg:mb-0 mb-30 px-20">
            <div class="px-6">
              <img alt="..." src="https://avatars.githubusercontent.com/u/163757687?v=4"
                class="shadow-lg rounded-full max-w-full mx-auto" style="max-width: 120px;" />
              <div class="pt-6 text-center">
                <h5 class="text-xl font-bold">ANAS TOURARI</h5>
                <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                  backend
                </p>
                <div class="mt-4 flex justify-center">
                  <button class="bg-black text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                    type="button">
                    <a href="https://github.com/TatsuyaSoft" target="_blank" rel="noopener noreferrer"
                      class="fab fa-github"></a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>


<footer class="relative bg-gray-300 pt-8 pb-6">
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
      style="height: 80px;">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4">
          <h4 class="text-3xl font-semibold">Let's keep in touch!</h4>
          <h5 class="text-lg mt-0 mb-2 text-gray-700">
            Find us on any of these platforms, we respond 1-2 business days.
          </h5>
          <div class="mt-6">
            <button
              class="bg-white text-blue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3"
              type="button">
              <i class="flex fab fa-twitter"></i></button><button
              class="bg-white text-blue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3"
              type="button">
              <i class="flex fab fa-facebook-square"></i></button><button
              class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3"
              type="button">
              <i class="flex fab fa-dribbble"></i></button><button
              class="bg-white text-gray-900 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3"
              type="button">
              <i class="flex fab fa-github"></i>
            </button>
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="flex flex-wrap items-top mb-6">
            <div class="w-full lg:w-4/12 px-4 ml-auto">
              <span class="block uppercase text-gray-600 text-sm font-semibold mb-2">Useful Links</span>
              <ul class="list-unstyled">
                <li>
                  <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                    href="https://www.creative-tim.com/presentation">About Us</a>
                </li>
                <li>
                  <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                    href="https://blog.creative-tim.com">Blog</a>
                </li>
                <li>
                  <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                    href="https://www.github.com/creativetimofficial">Github</a>
                </li>
                <li>
                  <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                    href="https://www.creative-tim.com/bootstrap-themes/free">Free Products</a>
                </li>
              </ul>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <span class="block uppercase text-gray-600 text-sm font-semibold mb-2">Other Resources</span>
              <ul class="list-unstyled">
                <li>
                  <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                    href="https://github.com/creativetimofficial/argon-design-system/blob/master/LICENSE.md">MIT
                    License</a>
                </li>
                <li>
                  <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                    href="https://creative-tim.com/terms">Terms &amp; Conditions</a>
                </li>
                <li>
                  <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                    href="https://creative-tim.com/privacy">Privacy Policy</a>
                </li>
                <li>
                  <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                    href="https://creative-tim.com/contact-us">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-6 border-gray-400" />
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full md:w-4/12 px-4 mx-auto text-center">
          <div class="text-sm text-gray-600 font-semibold py-1">
            Copyright © 2019 Tailwind Starter Kit by
            <a href="https://www.creative-tim.com" class="text-gray-600 hover:text-gray-900">Creative Tim</a>.
          </div>
        </div>
      </div>
    </div>
</footer>


</body>

</html>