{% load compress %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'source/library-w.svg' %}" />
    <title>S'inscrire </title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
    />
    <style>
      body {
        background-image: url("https://images.unsplash.com/photo-1607193634806-5c28805731aa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: cover;
        background-position: center;
        backdrop-filter: blur(3px);
      }
      .bg-radial-gradient {
        background-image: radial-gradient(circle, #2865c07a, #ebebebd7);
      }
    </style>
  </head>
  {% include 'header.html' %}
  <div class="flex" style="height: 91.2vh;">

    <!-- Left Pane -->
    <div class="w-full bg-gray-100 lg:w-1/2">
      <div class="max-w-md w-full p-6 mx-auto">
        <div class="flex items-center justify-center h-auto gap-2">
          <img src="{% static 'source/library.svg' %}" width="50" alt="" class="h-auto">
          <h1 class="text-3xl font-bold text-black text-center">
            
            FSUMI-LIB  
          </h1>
        </div>
        <hr class="mt-4 mb-6 bg-black" style="height: 3px;">
        <form action="" method="POST" class="space-y-4">
          <!-- Your form elements go here -->
          {% csrf_token %}
          
          <div class="flex items-center gap-4 w-full">
            <div class="block w-full">
              <label class="block text-sm font-medium text-gray-700">First Name</label>
              <input type="text" name="nom" placeholder="John"
                class="mt-1 p-2 border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black transition-colors duration-300" />
            </div>
            
            <div class="block w-full">
              <label class="block text-sm font-medium text-gray-700">Last name</label>
              <input type="text" name="prenom" placeholder="Snow"
                class="mt-1 p-2 border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black transition-colors duration-300" />
            </div>
          </div>
          
          <div class="flex items-center gap-4">
            <div class="block w-full">
              <label class="block text-sm font-medium text-gray-700">CNI</label>
              <input type="text" name="cni" placeholder="X123123"
                class="mt-1 p-2  border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black transition-colors duration-300" />
            </div>
            
            <div class="block w-full">
              <label class="block text-sm font-medium text-gray-700">Massar</label>
              <input type="text" name="massar" placeholder="D123456789"
                class="mt-1 p-2  border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black transition-colors duration-300" />
            </div>
          </div>
          
          <div class="flex items-center gap-4">
            <div class="w-full">
              <label class="block text-sm font-medium text-gray-700">Filiere</label>
              <select name="filiere"
                class="mt-1 w-full p-2 border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black transition-colors duration-300">
                <option selected value="SMI">SMI</option>
                <option value="MIP">MIP</option>
                <option value="PC">PC</option>
                <option value="SMP">SMP</option>
                <option value="SMA">SMA</option>
              </select>
            </div>
            <div class="block">
              <label for="date_naissance" class="block text-sm font-medium text-gray-700">Date de naissance</label>
              <input type="date" name="date_naissance" min="1960-01-01" max="2008-12-31"
                class="mt-1 p-2  border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black transition-colors duration-300" />
            </div>
          </div>
          <div class="block w-full">
            <label class="block text-sm font-medium text-gray-700">Email address</label>
            <input type="email" name="email" placeholder="johnsnow@edu.umi.ac.ma"
              class="mt-1 w-full p-2 border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black transition-colors duration-300" />
          </div>
          <div class="flex items-center gap-4">
            <div class="block">
              <label class="block text-sm font-medium text-gray-700">Password</label>
              <input type="password" name="password" placeholder="Enter your password"
                class="mt-1 p-2 border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black transition-colors duration-300" />
            </div>
            
            <div class="block">
              <label class="block text-sm font-medium text-gray-700">Confirm password</label>
              <input type="password" name="confirmpassword" placeholder="Enter your password"
                class="mt-1 p-2  border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black transition-colors duration-300" />
            </div>
          </div>
          
          <div></div>
          <div>
            <button type="submit"
              class="w-full bg-black text-white p-2 rounded-md font-semibold hover:bg-green-500  focus:outline-none focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300">
              Sign Up
            </button>
          </div>
        </form>
        {% if error_message %}
        <div class="border-red-700 text-red-800">
          {{ error_message }}
        </div>
        {% endif %}
        <div class="mt-4 text-sm text-gray-600 text-center font-semibold">
          <p>
            Vous etes deja inscrit?
            <a href="{% url 'inscription' %}" class="text-green-500 font-bold text-md hover:underline">Connectez-vouz</a>!
          </p>
        </div>
      </div>
    </div>
    <!-- Right Pane -->

    <div class="hidden lg:flex items-center justify-center flex-1 bg-white text-black">
        <video autoplay muted loop id="video-background" class="w-full h-full object-cover">
          <source src="{% static '/source/vid1.WEBM' %}" type="video/WEBM">
        </video>
      
    </div>
  </div>
</html>
