
{% load compress %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'source/library-w.svg' %}" />
    <title>Se connecter</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
    />
    <style>
      body {
        background-image: url("https://images.unsplash.com/photo-1607193634806-5c28805731aa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: cover;
        background-position: center;
        backdrop-filter: blur(3px);
      }
      .bg-radial-gradient {
        background-image: radial-gradient(circle, #2865c07a, #ebebebd7);
      }
    </style>
  </head>
  {% include 'header.html' %}
  <div class="flex" style="height: 91.2vh;">
    <!-- Left Pane -->
    <div class="hidden lg:flex items-center justify-center flex-1 bg-white text-black">
        <video autoplay muted loop id="video-background" class="w-full h-full object-cover object-center">
          <source src="{% static '/source/vid4.webm' %}" type="video/webm">
        </video>
      </div>
      
    <!-- Right Pane -->
    <div class="w-full bg-gray-100 lg:w-1/2 flex items-center justify-center">
      <div class="max-w-md w-full p-6">
        <div class="flex items-center justify-center h-auto gap-2">
          <img src="{% static 'source/library.svg' %}" width="50" alt="" class="h-auto">
          <h1 class="text-3xl font-bold text-black text-center">
            
            FSUMI-LIB  
          </h1>
        </div>
        <hr class="mt-4 mb-6 bg-black" style="height: 3px;">
        <form action="" method="POST" class="space-y-4">
          <!-- Your form elements go here -->
          {% csrf_token %}
          <div>
            <label
              for="cni"
              class="block text-md font-medium text-gray-700"
              >CNI</label
            >
            <input
              required
              type="text"
              id="cni"
              name="cni"
              value="{{oldform.cni}}"
              class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black transition-colors duration-300"
            />
          </div>
          <div>
            <label
              required
              for="massar" 
              class="block text-md font-medium text-gray-700"
              >Massar</label
            >
            <input
              required
              type="text"
              id="massar"
              name="massar"
              value="{{oldform.massar}}"
              class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black transition-colors duration-300"
            />
          </div>
          <div>
            <label
              required
              for="password"
              class="block text-md font-medium text-gray-700"
              >Password</label
            >
            <input
              required
              type="password"
              id="password"
              name="password"
              class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black transition-colors duration-300"
            />
          </div>
          <div>
            <button
              type="submit"
              class="w-full bg-black text-white p-2 font-bold rounded-md hover:bg-green-500  focus:outline-none focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300"
            >
              Sign Up
            </button>
          </div>
        </form>
        {% if error_message %}
        <div class="p-1 text-center border-red-700 text-red-800">
          {{ error_message }}
        </div>
        {% endif %}
        <div class="mt-4 text-sm text-gray-600 text-center font-semibold">
          <p>
            Vous n'avez pas un compte? Veuillez
            <a href="{% url 'singup' %}" class="text-blue-600 font-bold text-md hover:underline">S'inscrire</a>!
          </p>
        </div>
      </div>
    </div>
  </div>
</html>
